<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <title>Edit gym</title>
</head>

<body>
    <div th:replace="fragments :: siteHeader"></div>
    <div class="container mt-5">
        <div class="card shadow-sm p-4">
            <h1>Edit Gym</h1>
            <form th:object="${gym}" th:action="@{../savegym}" method="post">
                <div class="mb-3">
                    <input type="hidden" th:field="*{gymId}" />
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}"
                        th:class="${#fields.hasErrors('name')} ? 'form-control is-invalid' : 'form-control'" />
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                        <span th:errors="*{name}">Gym name errors</span>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="city" class="form-label">City:</label>
                    <input type="text" class="form-control" id="city" th:field="*{city}"
                        th:class="${#fields.hasErrors('city')} ? 'form-control is-invalid' : 'form-control'" />
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('city')}">
                        <span th:errors="*{city}">City errors</span>
                    </div>
                </div>
                <input type="submit" value="Save" class="btn btn-success" />
            </form>
        </div>
    </div>
</body>

</html>