<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
    <title>Gymlist</title>
</head>
<body style="margin: 20px;">
    <h1>Gyms</h1>
   
    <table class="table table-striped">
  <tr>
   <th>Name</th>
   <th>City</th>
   <th></th>
   <th></th>
  </tr>
     <tr th:each = "gym : ${gyms}">
       <td th:text="${gym.name}"></td>
       <td th:text="${gym.city}"></td>
        <td><a th:href="@{/deletegym/{id}(id=${gym.gymId})}" class="btn btn-danger">Delete</a></td>
       <td><a th:href="@{/editgym/{id}(id=${gym.gymId})}" class="btn btn-primary">Edit</a></td>
     </tr>
     </tr>
</table>
  <a href="/addgym" class="btn btn-success">Add Gym</a>
</body>
</html>